<h1>Login success</h1>
<p>Welcome to our site</p>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/post/list/{{token}}">Post list</a></li>
  <li><a href="/post/new/{{token}}">New post</a></li>

</ul>